#select_nodes .header {
	background-color: #D3E7F4;
}

#select_nodes th {
	cursor: pointer;
}

#select_nodes th.headerSortDown {
	background-image: url('asc.png');
	background-repeat: no-repeat;
	background-position: center right;
}

#select_nodes th.headerSortUp {
	background-image: url('desc.png');
	background-repeat: no-repeat;
	background-position: center right;
}